// $theme_color:#49b7c5;
$theme_color:#474646;
$theme_color2:adjust-hue($theme_color,10%);
$theme_color_lighten:lighten($theme_color,5%);
$theme_color_darken:darken($theme_color,10%);

.bg-theme{background-color:$theme_color}
.bg-theme-darken{background-color:$theme_color_darken}
.bg-theme-lighten{background-color:$theme_color_lighten}
