<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item" *ngFor="let item of systemFunctionOutputModel;let i=index;">
        <a class="nav-link" [routerLink]="'/home'" [ngClass]="{'active':false}">
          <i class="bi bi-house-door mr-2"></i>
          <span>{{item.functionChineseName}}</span>
        </a>
        <!-- <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
          <div class="card">
            <div class="card-body">
              You can collapse this card by clicking Toggle
            </div>
          </div>
        </div> -->
      </li>
    </ul>
  </div>
</nav>



