<nav class="d-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item" *ngFor="let systemFunction of systemFunctionService.systemFunctionOutputModel;let i=index;">
        <div class="main-function bg-theme-darken" (click)="systemFunction.open=!systemFunction.open">
          <ng-container>
            <a class="nav-link" [routerLink]="systemFunction.url?'/'+systemFunction.url:null" [ngClass]="{'active':currentPath==systemFunction.url}">
              <i class="bi bi-house-door mr-2"></i>
              <span>{{systemFunction.functionChineseName}}</span>
            </a>
          </ng-container>
        </div>
        <ul #collapse="ngbCollapse" [(ngbCollapse)]="!systemFunction.open" *ngIf="systemFunction.smallMenuDtos.length>0">
          <li *ngFor="let childSystemFunction of systemFunction.smallMenuDtos;let j=index;">
            <div>
              <a class="nav-link" [routerLink]="'/'+childSystemFunction.url" [ngClass]="{'active':currentPath=='/'+childSystemFunction.url}">
                {{childSystemFunction.functionDetailChineseName}}
              </a>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
