@import "../../../scss/color";
.login_page{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(120deg, rgba(lighten($theme_color,10%),35%) 0%, rgba($theme_color2,35%) 100%);
  // background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  .title{
    color: #053a42;
    width: 350px;
    font-size: 40px;
    font-weight: bold;
    padding:30px;
    background-image: linear-gradient(-225deg, lighten($theme_color,10%) 0%, $theme_color2 100%);
  }
}

.login_wrapper{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  // background-color: rgb(255 247 247 / 43%);
  background-color: white;
  border-radius: 5px;
  width: 650px;
  .form-group{
    label{
      font-weight: bold;
      color: #32826a;
    }
  }
  form{
    margin-bottom: 30px;
    height: 200px;
  }
  .btn{
    border: none;
    background: #8fe4cb;
    color: #32826a;
  }
  .login_form{
    padding:30px;
    width: 300px;
  }
  .text-muted{
    font-size: 14px;
  }
}
