<nav class="navbar navbar-dark bg-theme fixed-top">
  <a class="navbar-brand" href="#">WalkToFly</a>
  <div class="d-flex align-items-center">
    <div class="mr-4 text-light">Hi~  {{member?.firstName}}{{member?.lastName}}</div>
    <button type="button" (click)="logout()" class="btn btn-outline-light mr-1">登出</button>
    <!-- <button type="button" (click)="loginModal.open();" class="btn btn-outline-light mr-1">登入</button> -->
    <!-- <button type="button" (click)="registerModal.open();" class="btn btn-outline-light">註冊</button> -->
  </div>

</nav>

<div class="container-fluid">
  <div class="row">
    <app-menu></app-menu>
    <main class="w-100 px-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
<app-login #loginModal [isModal]="true"></app-login>
<app-register #registerModal></app-register>
