<nav class="navbar navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">WalkToFly</a>
  <div>
    <button type="button" (click)="loginModal.open();" class="btn btn-outline-light mr-1">登入</button>
    <button type="button" (click)="registerModal.open();" class="btn btn-outline-light">註冊</button>
  </div>

</nav>

<div class="container-fluid">
  <div class="row">

    <app-menu></app-menu>
    <main class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
<app-login #loginModal></app-login>
<app-register #registerModal></app-register>
