<nav class="navbar navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">WalkToFly</a>
  <div>
    <button type="button" (click)="loginModal.open();" class="btn btn-outline-light mr-1">登入</button>
    <button type="button" (click)="registerModal.open();" class="btn btn-outline-light">註冊</button>
  </div>

</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item" *ngFor="let item of [0,1,2,3,4,5];let i=index;">
            <a class="nav-link" [routerLink]="'/home'" [ngClass]="{'active':i==0}">
              <i class="bi bi-house-door mr-2"></i>
              <span>home</span>
            </a>
          </li>
        </ul>

      </div>
    </nav>
    <main class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
<app-login #loginModal></app-login>
<app-register #registerModal></app-register>
