<div class="basic-form">
  <div class="header">路由新增</div>
  <div class="body p-2">

<form [formGroup]="formGroup">
  <div class="form-group row">
    <label class="col-2 col-form-label">大功能Id</label>
    <div class="col-auto">
      <input type="number" class="form-control" formControlName="functionId" placeholder="functionId">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">大功能名稱</label>
    <div class="col-auto">
      <input type="text" class="form-control" formControlName="functionName" placeholder="functionName">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">大功能中文名稱</label>
    <div class="col-auto">
      <input type="text" class="form-control" formControlName="functionChineseName" placeholder="functionChineseName">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Url</label>
    <div class="col-auto">
      <input type="text" class="form-control" formControlName="url" placeholder="url">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">排序</label>
    <div class="col-auto">
      <input type="number" class="form-control" formControlName="sort"  placeholder="sort">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">備註</label>
    <div class="col-4">
      <textarea class="form-control" placeholder="remark" formControlName="remark"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">是否啟用</label>
    <div class="col-auto my-auto">
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" formControlName="enableFlag" id="enableFlag">
        <label class="custom-control-label" for="enableFlag"></label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-auto">
      <button type="submit" class="btn btn-theme" (click)="create()">新增</button>
    </div>
  </div>
</form>
</div>
</div>
