
<!-- <div class="basic-form mb-4">
  <div class="header">搜尋條件</div>
  <div class="body p-2">
    <table class="basic-form-table">
      <tr>
        <th>條件1</th>
        <td>
          <input type="text" class="form-control">
        </td>
        <th>條件2</th>
        <td>
          <input type="text" class="form-control">
        </td>
      </tr>
    </table>
  </div>
  <div class="footer">
    <button type="submit" class="btn btn-theme" (click)="submit()">搜尋</button>
  </div>
</div> -->
<div class="basic-form">
  <div class="header">大功能一覽</div>
  <div class="body">
    <ag-grid-angular
  style="width: 100%;"
	class="ag-theme-balham"
	[rowData]="rowData"
	[columnDefs]="columnDefs"
  [gridOptions]="gridOptions"
  (modelUpdated)="onModelUpdated()"
  (gridReady)="onGridReady($event)"
  >
</ag-grid-angular>
  </div>
</div>
<!-- <ng-template #functionTemplate let-row>

</ng-template> -->
<!-- ;context:params.data -->

<ng-template #functionTemplate let-row>
  <a href="javascript:;" class="mr-1"><i class="bi bi-pencil-square"></i></a>
  <a href="javascript:;"><i class="bi bi-trash"></i></a>
  <!-- {{row?.functionId}} -->
</ng-template>

